[submodule "Deployment/llama"]
	path = Deployment/llama
	url = https://github.com/facebookresearch/llama
[submodule "Deployment/llamacpp-for-kobold"]
	path = Deployment/llamacpp-for-kobold
	url = https://github.com/LostRuins/llamacpp-for-kobold
