[submodule "Deployment/llama"]
	path = Deployment/llama
	url = https://github.com/wnma3mz/llama
[submodule "Deployment/llamacpp-for-kobold"]
	path = Deployment/llamacpp-for-kobold
	url = https://github.com/wnma3mz/llamacpp-for-kobold
